html,
body,
* {
  margin: 0;
  padding: 0;
}
.footer-top {
  background-color: #8498cf;
  height: 3rem;
}

.jumbotron {
  background-image: url(./image/bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: var(#000000);
  opacity: 0.9;
}

#projects {
  background-color: #ad8437;
}

section {
  padding-top: 5rem;
}

.about {
  text-align: center;
  padding: 0px 50px 0px 50px;
}

.logo {
  max-width: 60%;
}

.section-title {
  position: relative;
  color: #8498cf;
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 60px;
}

.section-title:before {
  content: '';
  position: absolute;
  top: 56px;
  left: 50%;
  width: 170px;
  height: 4px;
  background: #8498cf;
  transform: translateX(-50%);
}

.section-title:after {
  content: '';
  position: absolute;
  top: 50px;
  left: 50%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #8498cf;
  transform: translateX(-50%);
}

.section-title {
  text-align: center;
  font-size: 1.8em;
}

.work {
  background: #ffffff;
}

.work .content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
}

.work .content .card {
  width: 340px;
  margin: 15px;
}

.work .content .card .card-img {
  position: relative;
  width: 100%;
  height: 260px;
  overflow: hidden;
  border-radius: 10px;
}

.work .content .card .card-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.5s ease;
}

.work .content .card .card-img img:hover {
  transform: scale(1.2);
}

.section-title {
  font-size: 3rem;
}

.message {
  background-color: #8498cf;
}

.hubungikami {
  padding: 20px;
}

.kontak {
  font-size: 20px;
  font-weight: 400;
  border-style: solid;
  padding: 10px;
  color: rgb(255, 255, 255);
}

.img-tokped {
  max-width: 70%;
}

.img-shopee {
  max-width: 150%;
}

.section-title-store {
  text-align: center;
  font-size: 1.8em;
}

.section-title-store:before {
  content: '';
  position: absolute;
  top: 56px;
  left: 50%;
  width: 170px;
  height: 4px;
  background: #8498cf;
  transform: translateX(-50%);
}

.section-title-store {
  position: relative;
  color: #8498cf;
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 60px;
}

.section-title-store:before {
  content: '';
  position: absolute;
  top: 56px;
  left: 50%;
  width: 170px;
  height: 4px;
  background: #8498cf;
  transform: translateX(-50%);
}

.section-title-store:after {
  content: '';
  position: absolute;
  top: 50px;
  left: 50%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #8498cf;
  transform: translateX(-50%);
}

.container {
  padding: 30px;
}

.card {
  padding-top: 30px;
  background-color: #8498cf;
  border: none;
  color: #ffffff;
}

.card-img {
  max-width: 100%;
}
